<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/admin">Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="https://localhost:6999/index">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/admin/product">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/admin/category">Category</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" class="nav-link text-dark" onclick="btnLogout()">Logout</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
</header>