@page "/admin/product"
@{
    Layout = null;
}
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />
<link href="~/lib/datatables/css/datatables.bootstrap4.css" rel="stylesheet" />
<link href="~/lib/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />
@await Html.PartialAsync("_HeaderAdmin")

<div class="container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#product-create">
  New product
</button>
    <table class="table table-bordered table-striped dt-responsive nowrap" id="listProduct">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<!-- Create Modal -->
<div class="modal fade" id="product-create" tabindex="-1" aria-labelledby="product-create-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product-create-label">New product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <label>Name</label>
                    <input class="form-control" id="product-create-name" />
                    <label>Quantity</label>
                    <input class="form-control" id="product-create-quantity" />
                    <label>Price</label>
                    <input class="form-control" id="product-create-price" />
                    <label>Description</label>
                    <input class="form-control" id="product-create-description" />
                    <label>CPU</label>
                    <input class="form-control" id="product-create-cpu" />
                    <label>RAM</label>
                    <input class="form-control" id="product-create-ram" />
                    <label>Hard drive</label>
                    <input class="form-control" id="product-create-hardDrive" />
                    <label>Screen</label>
                    <input class="form-control" id="product-create-screen" />
                    <label>Power</label>
                    <input class="form-control" id="product-create-power" />
                    <label>Image</label>
                    <input class="form-control" id="product-create-image" />
                    <label>Categories</label>
                    <select class="product-categories" id="product-create-categories" name="product-create-categories[]" multiple>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addNewProduct()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="product-edit" tabindex="-1" aria-labelledby="product-edit-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product-edit-label">Edit product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <label>Id</label>
                    <input class="form-control" id="product-edit-id" disabled />
                    <label>Name</label>
                    <input class="form-control" id="product-edit-name" />
                    <label>Quantity</label>
                    <input class="form-control" id="product-edit-quantity" />
                    <label>Price</label>
                    <input class="form-control" id="product-edit-price" />
                    <label>Description</label>
                    <input class="form-control" id="product-edit-description" />
                    <label>CPU</label>
                    <input class="form-control" id="product-edit-cpu" />
                    <label>RAM</label>
                    <input class="form-control" id="product-edit-ram" />
                    <label>Hard drive</label>
                    <input class="form-control" id="product-edit-hardDrive" />
                    <label>Screen</label>
                    <input class="form-control" id="product-edit-screen" />
                    <label>Power</label>
                    <input class="form-control" id="product-edit-power" />
                    <label>Image</label>
                    <input class="form-control" id="product-edit-image" />
                    <label>Categories</label>
                    <select class="product-edit-categories" id="product-edit-categories" name="product-edit-categories[]" multiple>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateProduct()">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/datatables/js/jquery.datatables.js"></script>
<script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
<script src="~/lib/datatables/js/datatables.bootstrap4.js"></script>
<script src="~/lib/datatables/js/datatables.bootstrap4.min.js"></script>
<script rel="javascript" type="text/javascript" src="~/admin/product.js"></script>

@section Scripts{



    <script src="~/js/site.js"></script>

}

