@page "/product"

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- Product main img -->
			<div class="col-md-5 col-md-push-2">
				<div id="product-main-img">
					<div class="product-preview">
						<img src="./img/product01.png" alt="">
					</div>

					<div class="product-preview">
						<img src="./img/product03.png" alt="">
					</div>

					<div class="product-preview">
						<img src="./img/product06.png" alt="">
					</div>

					<div class="product-preview">
						<img src="./img/product08.png" alt="">
					</div>
				</div>
			</div>
			<!-- /Product main img -->

			<!-- Product thumb imgs -->
			<div class="col-md-2  col-md-pull-5">
				<div id="product-imgs">
					<div class="product-preview">
						<img src="./img/product01.png" alt="">
					</div>

					<div class="product-preview">
						<img src="./img/product03.png" alt="">
					</div>

					<div class="product-preview">
						<img src="./img/product06.png" alt="">
					</div>

					<div class="product-preview">
						<img src="./img/product08.png" alt="">
					</div>
				</div>
			</div>
			<!-- /Product thumb imgs -->

			<!-- Product details -->
			<div class="col-md-5">
				<div class="product-details" id="product-details">
					@* <h2 class="product-name">ASUS ProArt StudioBook Pro 17 W700G1T-AV046T</h2>
					<div>
					<div class="product-rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
					</div>
					<a class="review-link" href="#">10 Review(s) | Thêm đánh giá</a>
					</div>
					<div>
					<h3 class="product-price">45.600.000 đ <del class="product-old-price">46.600.000 đ</del></h3>
					<span class="product-available">In Stock</span>
					</div>
					<p>Màn hình : 15.6 inch, 1920 x 1080 Pixels, IPS, 144 Hz, Anti-glare LED-backlit</p>
					<p>CPU : Intel, Core i5, 10300H</p>
					<p>Tản Nhiệt Khí : HP 800 G1 Tiêu Chuẩn</p>
					<p>RAM : 8 GB (1 thanh 8 GB), DDR4, 2933 MHz</p>
					<p>Ổ cứng : SSD 512 GB</p>
					<p>Đồ họa : NVIDIA GeForce GTX 1650 4GB; Intel UHD Graphics</p>
					<div class="product-options">
					<label>
					Kích cỡ
					<select class="input-select">
					<option value="0">X</option>
					</select>
					</label>
					<label>
					Màu sắc
					<select class="input-select">
					<option value="0">Red</option>
					</select>
					</label>
					</div>

					<div class="add-to-cart">
					<div class="qty-label">
					Số lượng
					<div class="input-number">
					<input type="number">
					<span class="qty-up">+</span>
					<span class="qty-down">-</span>
					</div>
					</div>
					<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
					</div>

					<ul class="product-btns">
					<li><a href="#"><i class="fa fa-heart-o"></i> Thêm vào danh sách yêu thích</a></li>
					<li><a href="#"><i class="fa fa-exchange"></i> Thêm vào để so sánh</a></li>
					</ul>

					<ul class="product-links">
					<li>Loại:</li>
					<li><a href="#">TAI NGHE</a></li>
					<li><a href="#">PHỤ KIỆN</a></li>
					</ul>

					<ul class="product-links">
					<li>Chia sẻ:</li>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-envelope"></i></a></li>
					</ul> *@

				</div>
			</div>
			<!-- /Product details -->

			<!-- Product tab -->
			<div class="col-md-12">
				<div id="product-tab">
					<!-- product tab nav -->
					<ul class="tab-nav">
						<li class="active"><a data-toggle="tab" href="#tab1">Miêu tả</a></li>
						<li><a data-toggle="tab" href="#tab2">Chi tiết</a></li>
						<li><a data-toggle="tab" href="#tab3">Đánh giá (3)</a></li>
					</ul>
					<!-- /product tab nav -->

					<!-- product tab content -->
					<div class="tab-content">
						<!-- tab1  -->
						<div id="tab1" class="tab-pane fade in active">
							<div class="row">
								<div class="col-md-12">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
										culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
							</div>
						</div>
						<!-- /tab1  -->

						<!-- tab2  -->
						<div id="tab2" class="tab-pane fade in">
							<div class="row">
								<div class="col-md-12">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
										fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
										culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
							</div>
						</div>
						<!-- /tab2  -->

						<!-- tab3  -->
						<div id="tab3" class="tab-pane fade in">
							<div class="row">
								<!-- Rating -->
								<div class="col-md-3">
									<div id="rating">
										<div class="rating-avg">
											<span>4.5</span>
											<div class="rating-stars">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</div>
										</div>
										<ul class="rating">
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-progress">
													<div style="width: 80%;"></div>
												</div>
												<span class="sum">3</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div style="width: 60%;"></div>
												</div>
												<span class="sum">2</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div></div>
												</div>
												<span class="sum">0</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div></div>
												</div>
												<span class="sum">0</span>
											</li>
											<li>
												<div class="rating-stars">
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="rating-progress">
													<div></div>
												</div>
												<span class="sum">0</span>
											</li>
										</ul>
									</div>
								</div>
								<!-- /Rating -->

								<!-- Reviews -->
								<div class="col-md-6">
									<div id="reviews">
										<ul class="reviews">
											<li>
												<div class="review-heading">
													<h5 class="name">John</h5>
													<p class="date">27 DEC 2018, 8:0 PM</p>
													<div class="review-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o empty"></i>
													</div>
												</div>
												<div class="review-body">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
														eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
												</div>
											</li>
											<li>
												<div class="review-heading">
													<h5 class="name">John</h5>
													<p class="date">27 DEC 2018, 8:0 PM</p>
													<div class="review-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o empty"></i>
													</div>
												</div>
												<div class="review-body">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
														eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
												</div>
											</li>
											<li>
												<div class="review-heading">
													<h5 class="name">John</h5>
													<p class="date">27 DEC 2018, 8:0 PM</p>
													<div class="review-rating">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o empty"></i>
													</div>
												</div>
												<div class="review-body">
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
														eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
												</div>
											</li>
										</ul>
										<ul class="reviews-pagination">
											<li class="active">1</li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- /Reviews -->

								<!-- Review Form -->
								<div class="col-md-3">
									<div id="review-form">
										<form class="review-form">
											<input class="input" type="text" placeholder="Họ và tên">
											<input class="input" type="email" placeholder="Email">
											<textarea class="input" placeholder="Đánh giá của bạn"></textarea>
											<div class="input-rating">
												<span>Đánh giá của bạn: </span>
												<div class="stars">
													<input id="star5" name="rating" value="5" type="radio"><label
														for="star5"></label>
													<input id="star4" name="rating" value="4" type="radio"><label
														for="star4"></label>
													<input id="star3" name="rating" value="3" type="radio"><label
														for="star3"></label>
													<input id="star2" name="rating" value="2" type="radio"><label
														for="star2"></label>
													<input id="star1" name="rating" value="1" type="radio"><label
														for="star1"></label>
												</div>
											</div>
											<button class="primary-btn">Đánh giá</button>
										</form>
									</div>
								</div>
								<!-- /Review Form -->
							</div>
						</div>
						<!-- /tab3  -->
					</div>
					<!-- /product tab content  -->
				</div>
			</div>
			<!-- /product tab -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-12">
				<div class="section-title text-center">
					<h3 class="title">SẢN PHẨM TƯƠNG TỰ</h3>
				</div>
			</div>

			<!-- product -->
			<div class="col-md-3 col-xs-6">
				<div class="product">
					<div class="product-img">
						<img src="./img/product01.png" alt="">
						<div class="product-label">
							<span class="sale">-30%</span>
						</div>
					</div>
					<div class="product-body">
						<p class="product-category">Category</p>
						<h3 class="product-name"><a href="#">ASUS TUF Gaming FX705DT-H7138T</a></h3>
						<h4 class="product-price">40.600.000 đ <del class="product-old-price">42.600.000 đ</del></h4>
						<div class="product-rating">
						</div>
						<div class="product-btns">
							<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to
									wishlist</span></button>
							<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to
									compare</span></button>
							<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick
									view</span></button>
						</div>
					</div>
					<div class="add-to-cart">
						<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
					</div>
				</div>
			</div>
			<!-- /product -->

			<!-- product -->
			<div class="col-md-3 col-xs-6">
				<div class="product">
					<div class="product-img">
						<img src="./img/product02.png" alt="">
						<div class="product-label">
							<span class="new">NEW</span>
						</div>
					</div>
					<div class="product-body">
						<p class="product-category">Category</p>
						<h3 class="product-name"><a href="#">Tai nghe gaming Rapoo VH160 có mic</a></h3>
						<h4 class="product-price">390.000 đ <del class="product-old-price">490.000 đ</del></h4>
						<div class="product-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="product-btns">
							<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to
									wishlist</span></button>
							<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to
									compare</span></button>
							<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick
									view</span></button>
						</div>
					</div>
					<div class="add-to-cart">
						<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
					</div>
				</div>
			</div>
			<!-- /product -->

			<div class="clearfix visible-sm visible-xs"></div>

			<!-- product -->
			<div class="col-md-3 col-xs-6">
				<div class="product">
					<div class="product-img">
						<img src="./img/product03.png" alt="">
					</div>
					<div class="product-body">
						<p class="product-category">Category</p>
						<h3 class="product-name"><a href="#">Laptop Asus TUF Gaming FA507RC AMD Ryzen 7</a></h3>
						<h4 class="product-price">22.900.000 đ<del class="product-old-price">23.900.000 đ</del></h4>
						<div class="product-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
						<div class="product-btns">
							<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to
									wishlist</span></button>
							<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to
									compare</span></button>
							<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick
									view</span></button>
						</div>
					</div>
					<div class="add-to-cart">
						<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
					</div>
				</div>
			</div>
			<!-- /product -->

			<!-- product -->
			<div class="col-md-3 col-xs-6">
				<div class="product">
					<div class="product-img">
						<img src="./img/product04.png" alt="">
					</div>
					<div class="product-body">
						<p class="product-category">Category</p>
						<h3 class="product-name"><a href="#">Samsung Galaxy Tab S8 WIFI</a></h3>
						<h4 class="product-price">15.590.000 đ <del class="product-old-price">17.990.000 đ</del></h4>
						<div class="product-rating">
						</div>
						<div class="product-btns">
							<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to
									wishlist</span></button>
							<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to
									compare</span></button>
							<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick
									view</span></button>
						</div>
					</div>
					<div class="add-to-cart">
						<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
					</div>
				</div>
			</div>
			<!-- /product -->

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /Section -->
<script src="~/CustomerContent/js/jquery.min.js"></script>

<script type="text/javascript" src="/client/product.js"></script>
<script type="module" src="/client/cart.js">
	import { addToCart } from '/client/cart.js'

</script>
<script>
	function addToCart(productId, quantity) {
			var existingItem = cartItems.find(item => item.productId === productId);

			if (existingItem) {
				existingItem.quantity += quantity;
			} else {
				cartItems.push({ productId, quantity });
			}
			localStorage.setItem('cartItems', JSON.stringify(cartItems));
		}
	$(document).ready(function () {
		
		function viewProduct(id) {
			$.ajax({
				url: baseUrl + '/view-product/' + id,
				type: 'GET',
				success: function (res) {
					console.log(res)
					var productDetail = `
			<h2 class="product-name">${res.name}</h2>
			<div>
				<div class="product-rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
				</div>
				<a class="review-link" href="#">10 Review(s) | Thêm đánh giá</a>
			</div>
			<div>
				<h3 class="product-price">${res.price} đ <del class="product-old-price">46.600.000 đ</del></h3>
				<span class="product-available">In Stock</span>
			</div>
			<p>Màn hình : ${res.screen}</p>
			<p>CPU : ${res.cpu}</p>
			<p>Tản Nhiệt Khí : HP 800 G1 Tiêu Chuẩn</p>
			<p>RAM : ${res.ram}</p>
			<p>Ổ cứng : ${res.hardDrive}</p>
			<p>Nguồn :${res.power}</p>
			<div class="product-options">
				<label>
					Kích cỡ
					<select class="input-select">
						<option value="0">X</option>
					</select>
				</label>
				<label>
					Màu sắc
					<select class="input-select">
						<option value="0">Red</option>
					</select>
				</label>
			</div>

			<div class="add-to-cart">
				<div class="qty-label">
					Số lượng
					<div class="input-number">
						<input type="number">
						<span class="qty-up">+</span>
						<span class="qty-down">-</span>
					</div>
				</div>
				<button class="add-to-cart-btn" onclick="addToCart(${res.id},1)"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
			</div>

			<ul class="product-btns">
				<li><a href="#"><i class="fa fa-heart-o"></i> Thêm vào danh sách yêu thích</a></li>
				<li><a href="#"><i class="fa fa-exchange"></i> Thêm vào để so sánh</a></li>
			</ul>

			<ul class="product-links">
				<li>Loại:</li>
				<li><a href="#">TAI NGHE</a></li>
				<li><a href="#">PHỤ KIỆN</a></li>
			</ul>

			<ul class="product-links">
				<li>Chia sẻ:</li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-envelope"></i></a></li>
			</ul>

			`
					$('#product-details').append(productDetail)
				}
			})
		}


		var urlParams = new URLSearchParams(window.location.search);
		var productId = urlParams.get('id');
		viewProduct(productId)
	});

</script>