@page "/user"

<div class="container">
    <div id="profile">
    
    </div>

    <table class="table table-bordered table-striped dt-responsive nowrap">
        <thead>
            <th>Id</th>
            <th>Full Name</th>
            <th>Addres</th>
            <th>Phone</th>
            <th>Order date</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Actions</th>
        </thead>
        <tbody id="listOrders">

        </tbody>
    </table>
</div>

<script type="text/javascript" src="/client/user.js"></script>
